
.card-pink {
    background-color: #fff;
    border-radius: 15px; 
   margin-top: 10px;
}

.card-pink .card-body {
    color: #333; 
}

.btn-pink {
    background-color: #000000; 
    border-color: #00000027; 
    color: #fff; 
    width: 100%; 
}

.btn-pink:hover {
    background-color: #6a00ff;
    border-color: #ffffff; 
    color: #fff; /* Cor do texto do botão */
}

#btn-toggle-login{
    background-color: transparent;
}

.coordenadas-3d {
    display: none;
}

.estilizacao-mydiv {
    padding: 20px;
    text-align: center;
    text-decoration: dashed;
}

#container-3d {
    width: 800px;
    height: 600px; /* Defina a altura desejada aqui */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}